<html>
    <head>
        {% if title %}
        <title>
            To-do list for {{user.username}}
        </title>
        {% else %}
        <title>
            To-do list
        </title>
        {% endif %}
    </head>
    <body>
        <div>
            O.
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>