<!-- This is the base template that all other templates for the web app
     inherit from. The point of the base template is to give a consistent
     UI across pages that have different functions.
-->

<html>

<head>
    {% if title %}
    <title>
        To-do list for {{current_user.username}}
    </title>
    {% else %}
    <title>
        To-do list
    </title>
    {% endif %}
</head>

<body>
    <div id="navbar">
        O.
        <a href="{{ url_for('index')}}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login')}}">Login</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username)}}">{{current_user.username}}</a>
        <a href="{{ url_for('logout')}}">Logout</a>
        {% endif %}
    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>